{% extends 'index.html' %} {% load static %} {% block content %}

<div class="content-wrapper">
  <div class="page-header">
    <h3 class="page-title">CREATE TEAM</h3>
  </div>
  <div class="row">
    <div class="col-md-6 grid-margin stretch-card">
      <div class="card">
        <div class="card-body">
          <h4 class="card-title">CREATE TEAM</h4>

          <div class="template-demo">
            <button type="button" class="btn btn-social-icon-text bg-success" style="width=100vh">
             <i
                class="mdi mdi-account-multiple-plus"              
              ></i>
            <a  href="/new_team1/"> Create Team </a>
            </button>
             </div>
            {% comment %} <button type="button" class="btn btn-social-icon btn-outline-info">
              <i
                class="mdi mdi-account-multiple-plus"
                href="new_team1.html"
              ></i>
            </button> 
          </div>{% endcomment %}
           
          
        </div>
      </div>
    </div>
    <div class="col-md-6 grid-margin stretch-card">
      <div class="card">
        <div class="card-body">
            
          <h4 class="card-title">Team List</h4>
          
          <div class="template-demo">
            <button type="button" class="btn btn-social-icon-text bg-success">
                <i
                  class="mdi mdi-account-card-details"
                  href="/new_team1/"
                ></i
                >Team List
              </button>
            <ul class="list-group list-group-flush bg-secondary">
                <li class="list-group-item bg-bg-gradient-info">First item</li>
                <li class="list-group-item bg-gradient-bg-dark">Second item</li>
                <li class="list-group-item">Third item</li>
                <li class="list-group-item">Fourth item</li>
              </ul>
              <button type="button" class="btn btn-social-icon-text bg-success">Update</button>
              <button type="button" class="btn btn-social-icon-text bg-danger" onclick="confirmation()">Delete</button>
             </div>
        </div>
      </div>
    </div>
  </div>
</div>
<script>
    function confirmation(){
        var result = confirm("Are you sure to delete?");
        if(result){
            // Delete logic goes here
        }
    }
</script>
{% endblock %}
